apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  namespace: reactor-space
  labels:
    app: web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: website-service
        # IMPORTANT: This must match the name/tag of your local Docker image
        image: website-service:latest
        # Crucial for local images: tells Kubernetes NOT to pull from a registry
        imagePullPolicy: IfNotPresent 
        # Define all ports your application listens on internally
        ports:
          - containerPort: 8080 
            name: outside